<!-- uk-background-primary  -->
<div class="uk-light navBackground">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" [routerLink]="['/']">
          <i class="fas fa-shopping-bag uk-margin-small-right logo"></i> eShop
        </a>
        <ul class="uk-navbar-nav">
          <li><a [routerLink]="['/']">Produtos</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/cart']">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
              <span class="uk-badge">{{ cart.length }}</span>
            </a>
          </li>
          <li>
            <a>
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
              Minha Conta
            </a>
          </li>
          <li>
            <a>
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>